<!DOCTYPE html>
{% load static %}
<html>

<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<title>DeskApp - Bootstrap Admin Dashboard HTML Template</title>

	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'css/vendors/images/apple-touch-icon.png'%}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'css/vendors/images/favicon-32x32.png'%}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'css/vendors/images/favicon-16x16.png'%}">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendors/styles/core.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendors/styles/icon-font.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/src/plugins/jquery-steps/jquery.steps.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendors/styles/style.css'%}">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-119386393-1');
	</script>
	<script>
		function validateForm(){
			var form = document.getElementById('myForm');

			var email =document.getElementById('email').value.trim();
			var username =document.getElementById('username').value.trim();
			var password =document.getElementById('password').value.trim();
			var confirmPassword =document.getElementById('confirmPassword').value.trim();
			var address =document.getElementById('address').value.trim();
			var birthYear =document.getElementById('birthYear').value.trim();

			if((email=="")&&(username=="")&&(password=="")&&(confirmPassword=="")){
				alert('please enter all fields');
				email.focus();
				return;
			}

			else if(username.length<3){
				alert('username must be greater than 3 characters');
				username.focus();
				return;
			}
			else if(password.length<5){
				alert('password must be greater than 5 characters');
				
				return;
			}
			else if(confirmPassword.length<5){
				alert('confirmPassword must be greater than 5 characters');
				
				return;
			}
			else if(password!=confirmPassword){
				alert('password and confirmPassword should match');
				return;
			}
			else if(address.length<5){
				alert('address must be greater than 5 characters');
				return;
			}
			else if(birthYear.length<=0){
				alert('year cant be empty');
				return;
			}

			form.submit();
		}
	</script>
	{% for message in messages %}
    
    <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'info' %}alert-info{% endif %}">
        <a class="close" href="#" data-dismiss="alert">×</a>
           {{ message }}
    </div>

    {% endfor %}
</head>

<body class="login-page">
	<div class="login-header box-shadow">
		<div class="container-fluid d-flex justify-content-between align-items-center">
			<div class="brand-logo">
				<a href="login.html">
					<img src="{% static 'css/vendors/images/deskapp-logo.svg'%}" alt="">
				</a>
			</div>
			<div class="login-menu">
				<ul>
					<li><a href="{% url 'login'%}">Login</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="register-page-wrap d-flex align-items-center flex-wrap justify-content-center">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 col-lg-7">
					<img src="{% static 'css/vendors/images/register-page-img.png'%}" alt="">
				</div>
				<div class="col-md-6 col-lg-5">
					<div class="register-box bg-white box-shadow border-radius-10">
						<div class="wizard-content">
							<form class="tab-wizard2 wizard-circle wizard" id="myForm" action="register" method="POST">
								{% csrf_token %}
								{{form.as_p}}
								<h5>Basic Account Credentials</h5>
								<section>
									<div class="form-wrap max-width-600 mx-auto">
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Email Address*</label>
											<div class="col-sm-8">
												<input type="email" class="form-control" name="email" id="email" required>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Username*</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" name="username" id="username">
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Password*</label>
											<div class="col-sm-8">
												<input type="password" class="form-control" name="password" id="password">
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Confirm Password*</label>
											<div class="col-sm-8">
												<input type="password" class="form-control" name="confirmPassword" id="confirmPassword">
											</div>
										</div>
									</div>
								</section>
								<!-- Step 2 -->
								<h5>Personal Information</h5>
								<section>
									<div class="form-wrap max-width-600 mx-auto">
										
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Address</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" name="address" id="address">
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Birth Year</label>
											<div class="col-sm-8">
												<input type="Number" class="form-control" name="birthYear" id="birthYear">
											</div>
										</div>
										<div class="custom-control custom-checkbox mt-4">
											<input type="checkbox" class="custom-control-input" id="customCheck2" name="publicVisibility">
											<label class="custom-control-label" for="customCheck2">public visibility</label>
										</div>
										<button type="button" onclick="validateForm()" id="success-modal-btn" hidden data-toggle="modal" data-target="#success-modal" data-backdrop="static">Launch modal</button>
										
									</div>
								</section>
								
									</div>
								</section>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- js -->
	<script src="{% static 'css/vendors/scripts/core.js'%}"></script>
	<script src="{% static 'css/vendors/scripts/script.min.js'%}"></script>
	<script src="{% static 'css/vendors/scripts/process.js'%}"></script>
	<script src="{% static 'css/vendors/scripts/layout-settings.js'%}"></script>
	<script src="{% static 'css/src/plugins/jquery-steps/jquery.steps.js'%}"></script>
	<script src="{% static 'css/vendors/scripts/steps-setting.js'%}"></script>
</body>

</html>